.color {
  box-sizing: border-box;
  padding-top: 100px;
  cursor: pointer;
  width: 160px;
  border: 1px solid #e8e8e8;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
  }
  .color-title {
    background-color: #fff;
    padding: 7px;
    border-top: 1px solid #e8e8e8;
    & > span:first-child {
      margin-bottom: 7px;
    }
    & > span {
      display: block;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
.descTitle {
  margin-bottom: 15px !important;
}
.wrapper {
  margin-bottom: 30px;
  & > img {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
}
