.elements {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px; }

.elements > * {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  align-self: flex-start; }

.elements > *:last-child {
  margin-right: 0 !important; }

.descTitle,
.installTitle,
.componentTitle,
.componentDesc {
  margin-bottom: 24px !important; }

.desc,
.install,
.componentCode {
  margin-bottom: 24px !important; }

.componentCode {
  margin-top: 15px !important; }

.textChip {
  background-color: #f5f2f0;
  padding: 2px 6px;
  font-weight: 300;
  border-radius: 2px; }
