body,
html {
  height: 100%;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  color: #031b2c;
  font-size: 16px;
  margin: 0;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./fonts/Gilroy-Regular.eot) format('eot'),
    url(./fonts/Gilroy-Regular.woff) format('woff'),
    url(./fonts/Gilroy-Regular.ttf) format('ttf');
}
